@import 'libs/bootstrap-grid.min';
@import 'libs/bootstrap-reboot.min';
@import 'libs/font';

@import 'base/variables';

* {
    font-family: "Fahkwang", sans-serif;
}

.container {

    max-width: 1400px;
    padding: 10px 20px 0 20px;
    margin: 0 auto;
}

@import 'blocks/promo';
@import 'blocks/buttons';
@import 'blocks/media';
@import 'blocks/navbar';