@media (max-width:1200px) {
    .btns {
        flex-wrap: wrap;

    }
}

@media (max-width: 991px) {}

@media (max-width: 768px) {
    .navbar {
        .wrapper {
            &__logo {
                img {
                    width: 42px;
                }
            }

            &__items {
                &__item {
                    margin-left: 25px;
                    font-size: 15px;
                }
            }
        }

    }

    .promo {
        padding: 0;

        .main {
            .wrapper {
                padding: 0;
                // flex-direction: column;
                // justify-content: center;
                // align-items: center;

                .text {

                    &__title {
                        font-size: 50px;

                    }

                    &__subtitle {
                        font-size: 20px;
                    }

                }

                img {
                    max-width: 450px;
                    max-height: 300px;
                }
            }
        }

        .btns {
            justify-content: center;
        }
    }
}


@media (max-width: 576px) {
    .menu {
        .navbar {
            &__items {
                display: none !important;
            }
        }
    }

    .promo {
        .main {
            padding-top: 0;
            margin: 0 auto;

            .wrapper {
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .text {
                    &__title {
                        font-size: 50px;
                    }
                }
            }


        }
    }

    .btns {
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

}

@media (max-width: 375px) {
    .menu {
        padding: 0;
        .navbar {
            &__item {
                &__items {
                    display: none;
                }
            }
        }
    }

    .promo {
        margin: 0 auto;
        .main {
            .wrapper {
                img {
                    display: none !important;
                }
            }
        }
    }
}