.menu {
    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__logo {
            display: flex;

            img {
                width: 55px;
                height: 69px;
            }
        }

        &__items {
            display: flex;

            &__item {
                color: #000;
                font-size: 20px;
                text-decoration: none;
                margin-left: 48px;
                font-weight: 300;
                line-height: auto;

                &:hover {
                    font-weight: 600;
                    transition: 0.1s all;
                }
            }

        }
    }


}