.promo {
    position: absolute;
    width: 100%;


    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            display: flex;

            img {
                width: 55px;
            }
        }

        .menu {
            display: flex;

            &__item {
                display: flex;

                &__link {
                    color: #000;
                    font-size: 20px;
                    text-decoration: none;
                    margin-left: 48px;
                    font-weight: 300;
                    line-height: auto;

                    &:hover {
                        font-weight: 600;
                        transition: 0.3s all;
                    }
                }

            }
        }


        .hamburger {
            display: none;
        }
    }

    .main {
        position: relative;
        margin-bottom: 18px;
        margin-top: 30px;

        .wrapper {
            padding: 0 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            img {
                width: 60%;
            }

            .text {

                &__title {
                    color: black;
                    font-size: 80px;
                    font-weight: 700;
                    line-height: 80px;
                    text-align: center;
                    letter-spacing: 6.18px;
                    margin-bottom: 40px;
                }

                &__subtitle {
                    color: black;
                    font-size: 25px;
                    font-weight: 300;
                    line-height: 37px;
                    letter-spacing: 0.66px;
                    text-align: center;
                    margin-bottom: 40px;
                }
            }
        }


    }

    .btns {
        display: flex;
        gap: 30px;
    }
}